<html>



<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
    crossorigin="anonymous">

  <title>pl.seequality.net create featured image</title>
</head>

<body>


  <div class="container">


    <h1>Genrate featured image</h1>
    <p>Create an image that can be user as featured image.</p>
    <p>Error: 408</p>
    </div>


  </div>



</body>

<footer class="navbar navbar-fixed-bottom">
  <div class="navbar navbar-fixed-bottom text-center">
    created by: <a href="https://github.com/sdrzymala/" target="_blank">github.com/sdrzymala</a>
    | created for: <a href="https://pl.seequality.net/" target="_blank">pl.seequality.net</a>
    | powered by: <a href="https://pixabay.com/" target="_blank">pixabay.com</a>
  </div>
</footer>

</html>